*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f5f5f5;
color:#222;
}

header{
background:#111;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
}

.logo-section{
display:flex;
align-items:center;
gap:15px;
}

.logo-section img{
    width:80px;
    height:80px;
    object-fit:contain;
}
nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.hero{
background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65));
color:white;
text-align:center;
padding:120px 20px;
background-color:#d32f2f;
}

.hero h1{
font-size:48px;
margin-bottom:15px;
}

.hero p{
font-size:22px;
margin-bottom:25px;
}

.btn{
background:white;
color:#d32f2f;
padding:12px 25px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

section{
padding:60px 10%;
}

section h2{
margin-bottom:20px;
color:#d32f2f;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero h1{
font-size:32px;
}

}
